@import url('tokens/radius.css');
@import url('tokens/motion.css');
@import url('tokens/surface.css');
@import url('tokens/spacing.css');
@import url('tokens/scrollbar.css');
@import url('tokens/z-index.css');
@import url('tokens/safe-area.css');

:root {
  --md-ref-typeface-plain: var(--sys-font-family);

  --md-sys-color-gold: #815500;
  --md-sys-color-danger: #bd2a2a;
  --md-sys-color-warning: #e24800;
  --md-sys-color-success: #23811c;

  --md-sys-color-surface-container: var(--md-ref-palette-neutral95);
  --md-sys-color-surface-container-low: var(--md-ref-palette-neutral95);
  --md-sys-color-surface-container-lowest: var(--md-ref-palette-neutral95);
  --md-sys-color-surface-container-high: var(--md-ref-palette-neutral90);
  --md-sys-color-surface-container-highest: var(
    --md-ref-palette-neutral-variant95
  );

  --md-navigation-bar-container-color: var(
    var(--md-sys-color-surface-container)
  );

  --g-navigation-tab-active-color: var(--md-sys-color-primary);
  --g-navigation-tab-in-active-color: var(--md-sys-color-inverse-surface);
  --g-navigation-tab-background-color: var(--md-sys-color-surface);
  --g-navigation-badge-background-color: var(--md-sys-color-danger);
}

@media (prefers-color-scheme: dark) {
  :root {
    --md-sys-color-gold: #fcbc00;
    --md-sys-color-danger: #ff4a4a;
    --md-sys-color-warning: #ff7535;
    --md-sys-color-success: #43c739;

    --md-sys-color-surface-container: var(--md-ref-palette-neutral-variant20);
    --md-sys-color-surface-container-high: var(--md-ref-palette-neutral30);
    --md-sys-color-surface-container-highest: var(
      --md-ref-palette-neutral-variant20
    );
    --md-sys-color-surface-container-low: var(--md-ref-palette-neutral10);
    --md-sys-color-surface-container-lowest: var(--md-ref-palette-neutral0);
  }
}
