[theme='light.gecut'] {
  --md-sys-color-background: #f5fbf3;
  --md-sys-color-on-background: #171d19;
  --md-sys-color-surface: #f5fbf3;
  --md-sys-color-surface-dim: #d6dcd4;
  --md-sys-color-surface-bright: #f5fbf3;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f0f5ee;
  --md-sys-color-surface-container: #eaefe8;
  --md-sys-color-surface-container-high: #e4eae2;
  --md-sys-color-surface-container-highest: #dee4dd;
  --md-sys-color-on-surface: #171d19;
  --md-sys-color-surface-variant: #d9e6da;
  --md-sys-color-on-surface-variant: #3e4a41;
  --md-sys-color-inverse-surface: #2c322d;
  --md-sys-color-inverse-on-surface: #edf2eb;
  --md-sys-color-outline: #6e7a70;
  --md-sys-color-outline-variant: #bdcabe;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #006d42;
  --md-sys-color-primary: #005d37;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #008652;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #71db9f;
  --md-sys-color-secondary: #41664f;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #c6f1d3;
  --md-sys-color-on-secondary-container: #2d523c;
  --md-sys-color-tertiary: #3e479e;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #636dc6;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #410002;
}

[theme='dark.gecut'] {
  --md-sys-color-background: #0e1510;
  --md-sys-color-on-background: #dce5dc;
  --md-sys-color-surface: #0e1510;
  --md-sys-color-surface-dim: #0e1510;
  --md-sys-color-surface-bright: #333b35;
  --md-sys-color-surface-container-lowest: #09100b;
  --md-sys-color-surface-container-low: #161d18;
  --md-sys-color-surface-container: #1a211c;
  --md-sys-color-surface-container-high: #242c26;
  --md-sys-color-surface-container-highest: #2f3731;
  --md-sys-color-on-surface: #dce5dc;
  --md-sys-color-surface-variant: #3c4a40;
  --md-sys-color-on-surface-variant: #bbcabd;
  --md-sys-color-inverse-surface: #dce5dc;
  --md-sys-color-inverse-on-surface: #2a322c;
  --md-sys-color-outline: #859489;
  --md-sys-color-outline-variant: #3c4a40;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #43e095;
  --md-sys-color-primary: #47e397;
  --md-sys-color-on-primary: #003920;
  --md-sys-color-primary-container: #00b873;
  --md-sys-color-on-primary-container: #00190b;
  --md-sys-color-inverse-primary: #006d42;
  --md-sys-color-secondary: #9cd3af;
  --md-sys-color-on-secondary: #003920;
  --md-sys-color-secondary-container: #0f462b;
  --md-sys-color-on-secondary-container: #a6ddb9;
  --md-sys-color-tertiary: #bac9ff;
  --md-sys-color-on-tertiary: #002a78;
  --md-sys-color-tertiary-container: #819ef8;
  --md-sys-color-on-tertiary-container: #00123f;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;
}

[theme='light.deep-sky-blue'] {
  --md-sys-color-background: #f8f9ff;
  --md-sys-color-on-background: #181c22;
  --md-sys-color-surface: #f8f9ff;
  --md-sys-color-surface-dim: #d7dae2;
  --md-sys-color-surface-bright: #f8f9ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f1f3fc;
  --md-sys-color-surface-container: #ebeef6;
  --md-sys-color-surface-container-high: #e5e8f0;
  --md-sys-color-surface-container-highest: #e0e2eb;
  --md-sys-color-on-surface: #181c22;
  --md-sys-color-surface-variant: #dce3f1;
  --md-sys-color-on-surface-variant: #404752;
  --md-sys-color-inverse-surface: #2d3137;
  --md-sys-color-inverse-on-surface: #eef1f9;
  --md-sys-color-outline: #707784;
  --md-sys-color-outline-variant: #c0c7d4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #0060a8;
  --md-sys-color-primary: #005290;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #0077ce;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #a2c9ff;
  --md-sys-color-secondary: #426086;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #c1daff;
  --md-sys-color-on-secondary-container: #244367;
  --md-sys-color-tertiary: #782c97;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #a154bf;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #410002;
}

[theme='light.brown'] {
  --md-sys-color-background: #fff8f5;
  --md-sys-color-on-background: #211a14;
  --md-sys-color-surface: #fff8f5;
  --md-sys-color-surface-dim: #e6d7cd;
  --md-sys-color-surface-bright: #fff8f5;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff1e8;
  --md-sys-color-surface-container: #faebe1;
  --md-sys-color-surface-container-high: #f5e5db;
  --md-sys-color-surface-container-highest: #efe0d5;
  --md-sys-color-on-surface: #211a14;
  --md-sys-color-surface-variant: #f5decd;
  --md-sys-color-on-surface-variant: #534437;
  --md-sys-color-inverse-surface: #372f28;
  --md-sys-color-inverse-on-surface: #fdeee3;
  --md-sys-color-outline: #867465;
  --md-sys-color-outline-variant: #d8c3b2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #8d4f00;
  --md-sys-color-primary: #8d4f00;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #ffb46d;
  --md-sys-color-on-primary-container: #512b00;
  --md-sys-color-inverse-primary: #ffb875;
  --md-sys-color-secondary: #7b5734;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #ffd1aa;
  --md-sys-color-on-secondary-container: #5c3b1c;
  --md-sys-color-tertiary: #5c6300;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #c2cc5d;
  --md-sys-color-on-tertiary-container: #333800;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #410002;
}

[theme='light.purple'] {
  --md-sys-color-background: #fdf7ff;
  --md-sys-color-on-background: #1d1a22;
  --md-sys-color-surface: #fdf7ff;
  --md-sys-color-surface-dim: #ded8e2;
  --md-sys-color-surface-bright: #fdf7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f8f1fc;
  --md-sys-color-surface-container: #f2ebf6;
  --md-sys-color-surface-container-high: #ece6f1;
  --md-sys-color-surface-container-highest: #e7e0eb;
  --md-sys-color-on-surface: #1d1a22;
  --md-sys-color-surface-variant: #e7dff1;
  --md-sys-color-on-surface-variant: #494553;
  --md-sys-color-inverse-surface: #322f37;
  --md-sys-color-inverse-on-surface: #f5eef9;
  --md-sys-color-outline: #7a7484;
  --md-sys-color-outline-variant: #cbc3d5;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6a47be;
  --md-sys-color-primary: #5b37ae;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #815fd6;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #d0bcff;
  --md-sys-color-secondary: #645786;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #dfd0ff;
  --md-sys-color-on-secondary-container: #463a66;
  --md-sys-color-tertiary: #8c256f;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #b94c96;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #410002;
}
