/* You can add global styles to this file, and also import other style files */
:root {
  --sys-font-family: Vazirmatn;
  --md-list-item-container-shape: 8px;
}

* {
  font-family: var(--sys-font-family);
  box-sizing: border-box;
  user-select: none;
}

[hidden] {
  display: none;
  visibility: hidden;
}
